<section class="landing">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="description">
          <h3>GitHub Search</h3>
          <p>Find Github Profiles and repositories here...</p>
        </div>
      </div>
    </div>
    <div class="row" id="searchs">
        <div class="col-md-12 col-xs-12 col-sm-12 text-center">
          <div id="searches" class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success" id="user" routerLink="/profile">Search Github by Username </button>
            <button id="repo" class="btn btn-success" routerLink="/repos">Search Github by Repositories</button>
          </div>
        </div>
      </div>
    
